NODE_ENV=development
PORT=3000

# Configuración de PostgreSQL
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=helpdesk_ti

JWT_SECRET=coloca_aqui_una_clave_segura_de_al_menos_32_caracteres
JWT_EXPIRES_IN=2h